@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/*************************
*******Typography******
**************************/

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #4F4F4F;
	line-height: 22px;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	color: #484848;
}

h1{
	font-size: 40px;
	font-weight:200;
	line-height: 30px;	
}

h2{
  font-size: 30px;
  font-weight:300;  
  line-height: 25px;
}

h3{
  font-size: 25px;
  font-weight: 300;
  line-height: 20px;
}

.overlay h3{
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 600;
	line-height: 20px;
}

h4{
  font-size: 18px;
  line-height:20px;
  font-weight:300;
}

.article_text {
	margin-top:20px;
	font-size:17px;
	font-weight:500;
	line-height:25px;
}

.clear {
	clear:both;
	margin-top:20px;
}

.clear2 {
	clear:both;
	margin-top:40px;
}

.grey {
	color: #C3C3C3;
}

.img-responsive2 {
  display: block;
  width: auto;
  height: auto;
}

.custom_list li {
    list-style-type: circle;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
	color: #C9C9C9;
}

.bordered{
	border:#CCC 1px solid;
}

.fa-big {
	font-size:20px;
	line-height:20px;
}

a {
	color: #72A3C0;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition: color 300ms, background-color 300ms;
	transition: color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.btn-primary {
  padding: 8px 20px;
  background: #72A3C0;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #72A3C0;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 20px 0;
}

.center {
  text-align: center;
  padding-bottom: 15px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.text{
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}


::-webkit-input-placeholder {
   color: #EEF3F9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #EEF3F9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #EEF3F9;  
}

:-ms-input-placeholder {  
   color: #EEF3F9;  
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

.navbar {
    min-height: 10px;
    border: 0;
}
#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-top:3px;
  margin-bottom:3px;  
}

@media (min-width: 768px)
.navbar>.container .navbar-brand {
    margin-left: 0;
}

.top-bar {
	padding: 10px 0;
	background-color: #6D6D6D;
	border-bottom: 1px solid #222;
	line-height: 28px;
}

.top-number{
  color: #fff;
}

.top-number p{
  margin: 0
}

.social{
  text-align: right;
}

.social-share{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.social-share li a:hover {
  background: #72A3C0;
  color: #fff;
}

.search i {
  color: #fff;
}

input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 0 10px;
  color: #FFF;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 180px;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-inverse{
	background-color: #DFDCD5;
}


 .navbar-nav{
  margin-top: 0px;
 }


.navbar-nav>li{
  margin-left: 0px;
  margin-right: 0px;  
  padding-bottom: 0px;
  padding-top: 0px;  
}

.navbar-inverse .navbar-nav > li > a {
	padding: 13px 25px;
	margin: 0;
	color: #575757;
	line-height: 24px;
	display: block;
	text-transform:uppercase;
	font: 400 15px/25px Oswald;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #72A5C2;
	color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
	padding-top:2px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #6D6D6D;
	color: #fff;
}

.navbar-inverse .navbar-nav > .premium > a,
.navbar-inverse .navbar-nav > .premium > a:hover,
.navbar-inverse .navbar-nav > .premium > a:focus{
	background-color: #E16332;
	color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
	background-color: rgba(255,255,255,0.92);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
	border: 1;
	padding: 0;
	margin-top: 0;
	border-top: 0;
	border-radius: 0;
	right: 0;
	min-width:260px;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 10px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #72A3C0;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: none;
  border-bottom: none;
  padding-bottom: 0px;
}


.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}


/*************************
*******Home Page******
**************************/


#main-slider {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;
}

#main-slider .carousel .carousel-content {
  margin-top: 90px;
}

#main-slider .carousel .slide-margin{
  margin-top: 80px;
}

#main-slider .carousel h1 {
  	color: #fff;
  	text-shadow: 0 1px #000;
}

#main-slider .carousel h2 {
  	color: #fff;
  	text-shadow: 0 1px #000;
}

#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #72A3C0;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider .carousel .slider-img{
  text-align: right;
  position: absolute;
}


#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 400px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: #72A3C0;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}

#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #000;
}

#main-slider .prev {
  left: 10px;
}

#main-slider .next {
  right: 10px;
}

#main-slider .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 15px 0 0;
  position: relative;
}

#main-slider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  left: -3px;
  top: -3px;
}

#main-slider .carousel-indicators .active{
  width: 20px;
  height: 20px;
  background-color: #72A3C0;
   margin: 0 15px 0 0;
   border: 1px solid #72A3C0;
   position: relative;
}

#main-slider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #72A3C0;
  border: 1px solid #72A3C0;
  left: -3px;
  top: -3px;
}

#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

#feature {
  background: #f2f2f2;
  padding-bottom: 40px;
}

.features{
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h2{
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: #72A3C0;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap i:hover {
  background: #72A3C0;
  color: #fff;
  box-shadow: inset 0 0 0 5px #72A3C0;
  -webkit-box-shadow: inset 0 0 0 5px #72A3C0;
  border: 3px solid #72A3C0;
}


#middle {
  background: #f2f2f2;
}


.accordion h2{
  margin-bottom: 25px;
}

.panel-default{
  border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
  background-color: #e6e6e6; 
  border:0 none;
  box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-heading{
  border-radius: 0;
}

.panel-title>a{
  color: #4e4e4e;
}

.accordion-inner img{
  border-radius: 4px;
}

.accordion-inner h4{
  margin-top: 0;
}

.panel-heading.active{
  background: #1f1f20;
}

.panel-heading.active .panel-title>a{
  color:#fff;
}

a.accordion-toggle  i{
  width: 45px;
  line-height: 44px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i{
  background: #72A3C0;
  color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #72A3C0;
  color: #fff;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
}

.contact-info h2{
  margin-top: 0;
  color: #000;
}

.contact-info{
  color:#000;
}



#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #777;
  border-radius:50%;
  font-size: 28px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#777;
}

#carousel-slider a i:hover {
  background:#bfbfbf;
  color:#fff;
  border: 1px solid #bfbfbf;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:-25px
}

#carousel-slider .carousel-control.right i {
  right: -25px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}


.media_image {
  margin-bottom: 10px;
}

.team .btn {
  background:transparent;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  border:1px solid#ddd;
  margin-right: 3px;
}


ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}



.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #72A3C0;
  height: 84px;
  margin-top: 110px;
}

.footer_left {
  padding: 10px;
}

.text-left {
	color: #666666;
	font-size: 12px;
	margin-top: 15px;
}


/*************************
********* Gallery CSS ******
**************************/
.gallery-items, 
.gallery-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.gallery-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}




/*************************
********* Contact Us CSS ******
**************************/

.gmap-area {
  background-image: url("../images/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}

.gmap-area .gmap iframe {
  height: 380px;
  width: 100%;
}

.gmap{
    border: 2px solid #f6f5f0;
    height: 400px;
    width: 100%;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.gmap-area .map-content ul {
  list-style: none; 
}

.gmap-area .map-content address h5{
  font-weight: 700;
  /* font-size: 16px; */
}

#contact-page{
  padding-top: 20px;
}

#contact-page .contact-form 
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  box-shadow: none;
}

textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

/*********************
****blog page css*****
**********************/

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#72A3C0;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #72A3C0;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #72A3C0;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

.post-tags {

}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #72A3C0;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #72A3C0 !important;
  border-color: #72A3C0 !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#72A3C0;
  color: #fff;  
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}


/**********************
**blog single page css*
**********************/

.reply_section {
  background: #f5f5f5;
  border-radius: 5px;
}

.post_reply {
  margin-left: 10px;
  margin-top: 45px;
}

.post_reply img {
  width: 85px;
  height: 85px;
  border: 5px solid #D5D8DD;
}

.post_reply ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.post_reply ul li{
  float:left;
}

.post_reply ul li a {
  display: block;
}

.post_reply ul li a i {
  border: 1px solid #DDDDDD;
  border-radius: 39px;
  color: #FFFFFF;
  font-size: 20px;
  height: 30px;
  margin-right: 3px;
  padding-top: 7px;
  text-align: center;
  width: 30px;
}

.post_reply ul li a i.fa-facebook {
  background: #0182C4;
}

.post_reply ul li a i.fa-twitter {
  background: none repeat scroll 0 0 #3FC1FE;
}

.post_reply ul li a i.fa-google-plus{
 background: none repeat scroll 0 0 #D34836;
}

.post_reply ul li a i:hover{
  opacity:.5;
}

.post_reply_content {
  margin: 30px;
}

.post_reply_content h1 a:hover{
  color:#FFC800;
}

.post_reply_content h4 {
  margin-bottom: 50px;
}

.reply_section .media-body{
  display:inherit;
}

.comment_section .media-body{
  display:inherit;
}

#comments_title{
   color:#4e4e4e;
   font-weight:700px;
   font-size:20px;
   margin-top:60px;
   margin-bottom:40px;
}
.comment_section {
  margin-top: 30px;
  position: relative;
}

.post_comments img {
  width: 85px;
  height: 85px;
  margin-top: 35px;
}

.post_reply_comments {
  background:#f5f5f5;
  border-radius: 4px;
  padding: 30px;
}

.post_reply_comments:before {
  border-color: transparent #F0F0F0 transparent transparent;
  border-style: solid;
  border-width: 15px;
  content: " ";
  height: 0;
  left: 75px;
  position: absolute;
  top: 20px;
}

.post_reply_comments h3, 
.post_reply_content h3{
  margin-top: 0;
}

.post_reply_comments h1 a:hover{
  color:#72A3C0;
}

.post_reply_comments h4{
  color:#c4c4c5;
  font-weight:400;
}

.post_reply_comments p {
  padding-bottom: 30px;
}

.post_reply_comments a {
  bottom: 15px;
  position: absolute;
  right: 30px;
  background: #72A3C0;
  color: #fff;
  border-radius: 5px;
  padding: 8px 20px;
}

.post_reply_comments a:before {
  border-color: #72A3C0 transparent transparent;
  border-style: solid;
  border-width: 16px;
  bottom: -11px;
  content: "";
  height: 0;
  left: -12px;
  position: absolute;
  z-index: 99999;
}

.post_reply_comments h2 a{
 
}

.message_heading {
  margin-bottom: 50px;
  margin-top: 60px;
}


/******************
 404 page css
 ******************/

#error .btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: #4E4E4E;
}

#error h1{
  color: #4e4e4e;
  text-transform: uppercase;
}


/******************
shortcodes page css
******************/

.shortcode-item {
  padding-bottom: 0;
}

.shortcode-item h2 {
  color: #4E4E4E;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 0;
  font-weight: 600
}



/***********************
********* Footer ******
************************/
#bottom {
  background: #f5f5f5;
  border-bottom: 5px solid #72A3C0;
  font-size: 14px;
}

#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size:22px;
  color: #000;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #808080;
}

#bottom ul li a:hover {
  color: #72A3C0;
}

#bottom .widget {
  margin-bottom: 0;
}

#footer_top {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #868686;
	background-color: #181D22;
}

#footer_top a {
	color: #959595;
}

#footer_top a:hover {
	color: #B6CFDE;
}

#footer_top ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer_top ul > li {
  display: inline-block;
  margin-left: 15px;
}


#footer_bottom {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #B0B0B0;
	background-color: #111417;
	border-top: #333 1px solid;
}

#footer_bottom a {
	color: #CFCFCF;
}

#footer_bottom a:hover {
	text-decoration: underline;
}

#footer_bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer_bottom ul > li {
  display: inline-block;
  margin-left: 15px;
}

#footer_bottom ul a {
	margin-left: 10px;
}


.header1 {
	padding: 0px;
	border-bottom: 0px solid;
	border-bottom-color: #6D6D6D;
	background-color: #538DAA;
}

.nopadding {
	padding:0;
	margin:0;
}

.nopadding_l {
	padding-left:0;
	margin-left:0;
}

.nopadding_r {
	padding-right:0;
	margin-right:0;
}


/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 */

.navbar .yamm-content h3 {
  font-size: 18px;
  padding-bottom: 10px;
  margin-top: 5px;
  border-bottom: dotted 1px #555555;
  letter-spacing: 0.08em;
}
@media (max-width: 767px) {
  .navbar .yamm-content h3 {
    font-size: 14px;
  }
}
.navbar .yamm-content h5 {
	padding-bottom: 10px;
	border-bottom: dotted 1px #CCCCCC;
	letter-spacing: 0.08em;
	color: #333;
	font-size:15px;
	font-weight:600;
}
.navbar .yamm-content ul {
  margin: 0;
  padding: 0;
}
.navbar .yamm-content ul li {
  list-style-type: none;
  border-bottom: solid 1px #eeeeee;
  padding: 4px 0;
}
.navbar .yamm-content ul li a {
	position: relative;
	color: #333333;
	font-size: 12px;
	display: block;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.navbar .yamm-content ul li a:hover {
  color: #38a7bb;
  text-decoration: none;
  padding-left: 2px;
}
.navbar .yamm-content .banner {
  margin-bottom: 10px;
}
.navbar .yamm-fw .dropdown-menu {
  padding: 0;
}

.yamm .nav,
.yamm .collapse,
.yamm .dropup.use-yamm,
.yamm .dropdown.use-yamm {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 10px 20px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}


.navbar-affixed-top {
  top: -32px;
}
.navbar-affixed-top.affix-top {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar-affixed-top.affix {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
body.boxed .navbar-affixed-top.affix {
  position: static;
}


.free {
	color: #4F8DD2;
}

.premium {
	color: #E16332;
}

.offer {
	font-size:1em;
	border:1px solid;
	border-color:#FED8BC;
	background-color:#FFEFCE;
	padding: 10px;
}

.offer_title {
	color: #D83810;
	font-weight: bold;
}


/*Panel tabs*/

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #72A7D8;
	border-color: #428bca;
}
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
	color: #fff;
	cursor: default;
	background-color: rgba(9,45,66,0.23);
	border-bottom-color: transparent;
}



.red {
	color: #E44805;
}


.panel-default {
border-color: #ddd;
}

.panel {
	margin-bottom: 20px;
	background-color: #F3F3F3;
	border: 1px solid #CACACA;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


.panel-default>.panel-heading {
color: #333;
background-color: #f5f5f5;
border-color: #ddd;
}
.panel-heading {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.smallpadding {
	padding:5px;
}


.btn-facebook {
	color: #ffffff;
	background-color: #6B98E2;
	border-color: #1C82D5;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #0e285f;
  border-color: #0b214e;
}

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #133783;
  border-color: #133783;
}



.form-control-header {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #FFF;
	vertical-align: middle;
	background-color: #C1CAD0;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
}

.btn-default-header {
	color: #FFF;
	background-color: #9EB8C7;
	border-radius: 0;
}


.two_cols {
  overflow: hidden;
}
.two_cols > li {
  float: left;
  width: 50%;
  padding-top: 1px;
}

.three_cols {
  overflow: hidden;
}
.three_cols > li {
  float: left;
  width: 33.333%;
  padding-bottom: 2px;
  padding-top: 1px;
}


.table_brands {
    background: #ECEDED;
    position: relative;
	margin-top:0;
	padding-top:0;	
}

.table_brands li a {
    display: block;
    letter-spacing: .15px;
    font-weight: 500;
    line-height: 160%;
	font: 400 13px/20px Oswald;
    color: #575757;
    padding: 4px 0;
    text-transform: uppercase;
    text-align: center;
}


.table_brands li a:hover {
	display: block;
	color: #fff;
	background-color: #467C91;
	text-decoration: none;
}

.table_brands h3 {
	min-height: 50px;
	text-transform: uppercase;
	text-align: center;
	background-color: #72A5C2;
	font: 400 16px/20px Oswald;
	letter-spacing:1px;
	color: #FFF;
	padding-top: 10px;
	margin-bottom: 0;
	margin-top:0;
	line-height: 1.8;
}

.table_brands h3 a {
	display: block;
	color: #FFF;
	text-decoration:none;
	padding: 10px;
}

.table_brands h3 a:hover {
    display: block;
    color: #fff;
	background-color:#B23F33;
	text-decoration:none;
}


.table_brands h4 {
	min-height: 40px;
	text-transform: uppercase;
	text-align: center;
	background-color: #DFDCD5;
	font: 400 15px/20px Oswald;
	letter-spacing: 1px;
	color: #FFF;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1.8;
}

.table_brands h4 a {
	display: block;
	color: #5B5B5B;
	text-decoration: none;
	padding:10px;
}

.table_brands h4 a:hover {
    display: block;
    color: #fff;
	background-color:#B23F33;
	text-decoration:none;
}



.brands_list .two_cols > li {
  padding-bottom: 20px;
}

.brands_list img {
	margin-right:10px;
	width:92px;
	height:22px;
}
.brands_list a {
	font-size:20px;
}

.devices_list {
	height:220px;
	display:block;
	margin-bottom:20px;
	text-align:center;
	vertical-align:central;
	overflow:hidden;
}

.devices_list img {
	height:150px;
	width:auto;
	margin-bottom:10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.devices_list a {
	color:#666;
	text-align:center;
	font-size:15px;
	font-weight:600;
}


.devices_list_sidebar {
	height:180px;
	display:block;
	margin-bottom:20px;
	text-align:center;
	vertical-align:central;
	overflow:hidden;
	line-height:18px;
}

.devices_list_sidebar img {
	height:100px;
	width:auto;
	margin-bottom:10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.devices_list_sidebar a {
	color:#666;
	text-align:center;
	font-size:13px;
	font-weight:600;
}



.article_box_sidebar {
	height:160px;
	display:block;
	margin-bottom:20px;
	text-align:center;
	vertical-align:central;
	overflow:hidden;
	line-height:18px;
}

.article_box_sidebar img {
	margin-bottom:5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.article_box_sidebar a {
	color:#666;
	text-align:center;
	font-size:13px;
	font-weight:600;
}


.sidebar_article_image { 
   position: relative; 
   width: 100%; /* for IE 6 */
  	margin-bottom:20px;

}

.sidebar_article_image img{ 
   width: 100%; /* for IE 6 */
}

.sidebar_article_image p { 
   position: absolute;
   text-align:center;
   bottom: 0px; 
   padding: 5px;
   margin-bottom:0;
   width: 100%;    
   color: white; 
   font: 300 13px/20px Oswald;
   letter-spacing: 1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.6);
   text-transform:uppercase;
}




.articles_list {
	height:250px;
	display:block;
	margin-bottom:20px;
	text-align:center;
	vertical-align:central;
	overflow:hidden;
}

.articles_list img {
	height:150px;
	width:auto;
	margin-bottom:10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.articles_list a {
	color:#666;
	text-align:center;
	font-size:15px;
	font-weight:600;
}

.specs_list {
	background-color: #FFF;
	color: #333333;
	font-size:15px;
	line-height:25px;
	margin-bottom:15px;
}

.specs_section {
	background-color: #EEE;
	border-bottom: #DADADA 1px solid;
	padding: 6px;
	color: #4D8CB3;
	font: 400 18px/30px Oswald;
	text-transform: uppercase;
	margin-top: 10px;
}

.device_box_compares {
	clear:both;
	margin-bottom:20px;
	height:80px;
	line-height:18px;
}

.device_box_compares img {
	max-height: 60px;
	max-width: 60px;
	width:auto;
	height:auto;
	float: left;
	margin-right:5px;
}

.device_box_compares a {
	color:#333;
}


.latest_articles_box a {
	color:#5D5D5D;
	font-weight:600;
	line-height:20px;
}

.latest_articles_box h3 {
	color:#5D5D5D;
	font-weight:600;
	line-height:35px;
	border-bottom: #D8D8D8 1px dotted;
}

.title_image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.title_image h1 { 
   position: absolute; 
   top: 0px; 
   padding-left: 20px;
   padding-top:5px;
   padding-bottom:5px;   
   margin-bottom:0;
   margin-top:0;   
   width: 100%; 
   
   color: white; 
   font: 300 30px/45px Oswald;
   letter-spacing: 1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.6);
   text-transform:uppercase;
}

.title_image p { 
   position: absolute; 
   bottom: 0px; 
   padding-left: 20px;
   padding-bottom:10px;
   padding-top:10px;   
   margin-bottom:0;
   width: 100%;
   line-height:30px;
   
   color: white; 
   font: 300 18px/25px Oswald;
   letter-spacing: 1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.3);
}



.article_index {
	clear:both;
	margin-bottom:20px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	line-height:20px;
	min-height:170px;
	overflow:hidden;
}

.article_index .article_index_image {
	background: black;
	overflow:hidden;
	padding:0;
	margin:0;
}

.article_index img {
	width:auto;
	height:auto;	
	display:block;
	margin: 0 auto;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;	
}

.article_index img:hover {
 -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


.article_index .darker { opacity: 0.7; }

.article_index a {
	color: #595959;
	font-size: 13px;
	font-weight: 400;
	margin-top: 10px;
}

.article_index a:hover {
	color: #1E1E1E;
}

.article_header {
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: #E0E0E0 2px solid;
	background-color: #EBEBEB;
	line-height: 25px;
	display:block;
	clear:both;
}

.article_header h2 {
	margin-top: 0;
	font-size: 26px;
	font-weight: 400;
	padding: 10px 10px 0px 10px;
	color: #7E7E7E;
}

.article_header .more {
	float:right;
}

.article_header .more a {
	font-size:18px;
	font-weight:600;
	color:#666;
}

.device_header {
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: #5692B6 1px solid;
	background-color: #72A5C2;
}

.device_header h1 {
	margin-top: 0;
	padding: 10px 10px 0px 10px;
	line-height: 28px;
	color: #FFF;
	font: 300 30px/28px Oswald;

}

.device_image {
	float:left;
	clear:none;
	margin-right:30px;
}


.device_summary {
	color: #969696;
	margin-left: 20px;
	letter-spacing: 1px;
	font: 400 15px/28px Oswald;
}


.device_menu {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #DFDCD5;
	text-transform: uppercase;
	clear:both;
}


ul.device_menu , ol.device_menu {
    padding: 0;
}

ul.device_menu li {
  display: inline-block;
  list-style-type: none;
  margin:0;
}

ul.device_menu li a {
	display: inline-block;
	color: #414141;
	line-height: 25px;
	text-align: center;
	padding: 10px;
	font: 400 16px/25px Oswald;
	margin: 0;
}

ul.device_menu li a:hover {
  background-color: #467C91;
  color: #fff;
}

.device_menu li.active a{
  background-color: #467C91;
  color: #fff;
}

.prices_price {
	font-size:18px;
	color:#B23F33;
	font-weight:400;
}

.prices_details {
	font-size: 13px;
	color: #868686;
	font-weight: 200;
	text-align: center;
}

.prices_logo img{
	max-width:150px;
	height:auto;
}
	
th {
    text-align: center;
}	


.device_image {
	margin-bottom:20px;
}

.bg-danger {
	background-color: #E46350;
	padding: 10px;
	color:#FFF;
}

.bg-info {
	background-color: #d9edf7;
	padding: 10px;
	color: #000;
}

.comment {
	border: #F4DEB5;
	background-color: #EDF3F8;
	border: #D2E7F2 1px solid;
	margin-bottom: 20px;
	padding: 10px;
	margin-top:15px;
}

.comment .comment_name {
	font-weight:bold;
}

.comment .comment_date {
	color:#999;
	font-size:12px;
	margin-left:20px;
}

.comment .comment_content {	
	margin-top:8px;
	clear:both;
}

.comment .comment_rating {	
	margin-top:0px;
}

.comment .comment_heading {
	font-weight: bold;
	font-size:16px;
	margin-top:10px;
	margin-bottom:10px;
	clear:both;
}


.header_facebook_button a{
	display: inline;
	margin: 0;
	color: #FFF;
	background-color: #2972AD;
	font-size:30px;
	display:block;
	padding: 12px 20px 7px 20px;	
}

.header_google_button a{
	display: inline;
	margin: 0;
	color: #FFF;
	background-color: #AD1E0A;
	font-size: 30px;
	display: block;
	padding: 12px 10px 7px 10px;
}

.header_twitter_button a{
	display: inline;
	margin: 0;
	color: #FFF;
	background-color: #43B9E0;
	font-size: 30px;
	display: block;
	padding: 12px 15px 7px 15px;
}