/* SEARCH FORM */
#searchform div input { font-size:18px; padding:5px; min-width:250px; }
#suggestions{ position: absolute; left:30px; width:320px; display:none; z-index:100; }

/* SEARCHRESULTS */
#searchresults {
	border-width: 1px;
	border-color: #919191;
	border-style: solid;
	width: 320px;
	background-color: #CCCCCC;
	font-size: 10px;
	line-height: 14px;
}

#searchresults a {
	display: block;
	font-size:15px;
	background-color: #FFFFFF;
	clear: left;
	height: 75px;
	text-decoration: none;
	border-left: transparent 4px solid;
}

#searchresults a:hover { 
	background-color:#fff; 
	color:#ccc; 
	border-left: #C30 4px solid; 
}

#searchresults a img { float:left; padding:5px 10px; height: 70px; width:auto; max-width:80px; }
#searchresults a span.searchheading { display:block; font-weight:bold; padding-top:5px; color:#191919; }

#searchresults a:hover span.searchheading {
	color: #333333;
}

#searchresults a span { color:#555555; }
#searchresults a:hover span { color:#f1f1f1; }

#searchresults span.category { 
	font-size:11px; 
	margin:5px; 
	display:block; 
	color:#ffffff;
}

#searchresults span.seperator {
	padding: 10px;
	background-color: #DFDFDF;
	display: block;
	border-left: #DFDFDF 4px solid;
}
	
#searchresults span.seperator a {
	background-color: transparent;
	display: block;
	margin: 5px;
	height: auto;
	color: #666666;
	border-left: #fff 4px solid;
}

#searchresults span.seperator a:hover {
	background-color: #DFDFDF;
	color: #333;
	border-left: #DFDFDF 4px solid;
}



/* COMPARE SEARCH FORMS */
#suggestions_compare1{ position: absolute; left: auto; width:260px; display:none; z-index:100; }
#suggestions_compare2{ position: absolute; left:auto; width:260px; display:none; z-index:100; }
#suggestions_compare3{ position: absolute; left:auto; width:260px; display:none; z-index:100; }
