
/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}



.clear {
clear:both;
margin-bottom:10px;
}

.clear2 {
clear:both;
margin-bottom:30px;
}

.space {
	margin-right:10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nopadding_l {
	margin-left:0 !important;
	padding-left:0 !important;
}


.bg-danger {
	background-color: #EC8D80;
	padding: 10px;
	color: #FFF;
}

.bg-info {
	background-color: #DAE4EF;
	padding: 10px;
	color: #1B5C7C;
}


.line {
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:#D6D6D6 1px solid;
	clear:both;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.status_box_active {
	padding: 3px 8px 3px 8px;
	color: #FFF;
	background-color: #24ACDF;
	text-transform:uppercase;
	font-size:11px;
}

.status_box_draft {
	padding: 3px 8px 3px 8px;
	color: #FFF;
	background-color: #DA7AC2;
	text-transform: uppercase;
	font-size: 11px;
}

.status_box_pending {
	padding: 3px 8px 3px 8px;
	color: #FFF;
	background-color: #E75F1D;
	text-transform: uppercase;
	font-size: 11px;
}

.status_box_default {
	padding: 3px 8px 3px 8px;
	color: #FFF;
	background-color: #7C7C7C;
	text-transform: uppercase;
	font-size: 11px;
}


.sticky_box {
	color: #D34203;
}
	
	
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}


table#listings {
	font-size: 1em;
	border: #CCC 1px solid;
}

table#listings tr td  {
	border:#ccc 1px solid;
}

table#listings th  {
	border: #ccc 1px solid;
	background-color: #E9E9E9;
	font-size:1.4em;
	font-weight:300;
}

table#listings tr td a.del_button { display:none; color:#C30; cursor:pointer;}
table#listings tr:hover td a.del_button { display:inline-block;color:#C30; cursor:pointer;}

table#listings tr td a.del_ban_button { display:none;color:#C30;cursor:pointer;}
table#listings tr:hover td a.del_ban_button { display:inline-block;color:#C30;cursor:pointer;}

table#listings small {
	color: #7F7F7F;
	font-size: 1em;
}


.package_price {
	font-size:26px;
	color: #BF4A04;
	font-weight:200;
}