/* Global Styles */
/* ------------------------------- */
body {
	/*background-color: #3D82A3;*/
	background-color: #fff;
}


h1 {
	font-size:28px;
	color:#353535;
	margin-top:0;
}

h2 {
	font-size:20px;
	color:#353535;
	margin-top:20px;
}

h3 {
	font-size:18px;
	color:#353535;
	margin-top:20px;
}

h4 {
	font-size:18px;
	color:#353535;
	margin-top:0px;
	margin-bottom:10px;
}

.page-header {
padding-bottom: 7px;
margin: 0 0 15px 0;
border-bottom: 1px solid #DFDFDF;
}


/* Wrappers */
/* ------------------------------- */

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1000px;
        border-left: 1px solid #e7e7e7;
    }
}


.login-panel {
    margin-top: 25%;
	border: #23668D 1px solid;	
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 15px 15px 15px;
}


.input-group {
	margin-bottom:10px;
}



.clear {
clear:both;
margin-bottom:10px;
}

.clear2 {
clear:both;
margin-bottom:30px;
}

.space {
	margin-right:10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nopadding_l {
	margin-left:0 !important;
	padding-left:0 !important;
}


small {
	color: #909090;
	font-size: 12px;
}


.bg-danger {
	background-color: #EC8D80;
	padding: 10px;
	color: #FFF;
}

.bg-info {
	background-color: #DAE4EF;
	padding: 10px;
	color: #1B5C7C;
}


.line {
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:#D6D6D6 1px solid;
	clear:both;
}

label {
display: inline-block;
margin-bottom: 4px;
font-weight: 400;
}
